@model MathTrainingApp.Models.Login
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
	@Html.ValidationSummary();
	
	<span>podaj nazwe</span>
	@Html.TextBoxFor(x => x.UserName)
	<span>podaj haslo</span>
	@Html.TextBoxFor(x => x.Password)
	<button type="submit">Zaloguj</button>
}