@model MathTrainingApp.Models.Register
@using(Html.BeginForm("register","Account", FormMethod.Post))
{
	@Html.ValidationSummary();
	<span>podaj nazwe</span>
	@Html.TextBoxFor(x => x.UserName)
	<span>podaj Email</span>
	@Html.TextBoxFor(x => x.EmailAddress)
	<span>podaj haslo</span>
	@Html.PasswordFor(x => x.Password)
	<button type="submit">Zajerestuj</button>
}