@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p>nazwa uzytkowanika: @ViewBag.User.UserName</p>
        <p>dobre odpowiedzi: @ViewBag.User.GoodAnswers</p>
        <p>zle odpowiedzi: @ViewBag.User.BadAnswers</p>
        <p>wyszystkie odpowiedzi: @ViewBag.User.AllAnswers</p>
        
    }
</div>

